.loader {
    color: aliceblue;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 24vh;
    opacity: 0.8;

    span {
        display: inline-block;
        animation: pulse 0.4s alternate infinite ease-in-out;

        &:nth-child(odd) {
            animation-delay: 0.4s;
        }
    }
}

@keyframes pulse {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}

body {
    display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    background-color: #4684ee;
}