#container {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -10px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
}

#container span {
	display: block;
	background: black;
	width: 100px;
	height: 5px;
	margin-top: 5px;
	border-radius: 5px;
	animation: load 2s infinite;
}

#container span:nth-child(2) {
	animation-delay: 100ms;
}

#container span:nth-child(3) {
	animation-delay: 200ms;
}

@keyframes load {
	50% {
		width: 5px;
		margin-right: 95px;
		opacity: 0.1;
	}
}
